
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParseToDb</title>
</head>
<body>
    <div>
        @*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <input type="file" name="file" />
        }*@

        <form asp-action="UploadFile" asp-controller="Home" method="post" enctype="multipart/form-data">
            Word to search: <input type="text" name="wordToSearch" id="wordToSearch">
            <h4>@ViewBag.Text</h4>
            Select a .txt file: <input type="file" name="file"><br><br>
            <input type="submit">
        </form>

        @*<form id="form1" runat="server">
            <asp:FileUpload id="FileUploadControl" runat="server" />
            <asp:Button runat="server" id="UploadButton" text="Upload" onclick="UploadButton_Click" />
            <br /><br />
            <asp:Label runat="server" id="StatusLabel" text="Upload status: " />
        </form>*@

    </div>
</body>
</html>
